<h1>Name: <%= @provider.name %></h1>
<h1>Address: <%= @provider.address %></h1>
<h1>Postcode: <%= @provider.postcode %></h1>
<h1>About me: <%= @provider.about_me %></h1>
<h1>Paypal Email: <%= @provider.paypal_email %></h1>
