<h1>Your profile has been created</h1>
<p><strong>Name:</strong> <%= @provider.name %></p>
<p><strong>Address:</strong> <%= @provider.address %></p>
<p><strong>Postcode:</strong> <%= @provider.postcode %></p>
<p><strong>About me:</strong> <%= @provider.about_me %></p>
<p><strong>Paypal Email:</strong> <%= @provider.paypal_email %></p>
